@import url(./css/style.css);
header{
    padding-bottom:115px ;
}
nav{
    padding: 26px 0 26px 0;
    justify-content: space-between;
}
.nav{
    column-gap: 24px;
    
}
.nav li a:hover{
    font-family:bol;
 }
.nav li a{
    font-family:med;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: #22343D;
}

.nav li .green{
    border-radius: 26.5px;
    background-color:#02897A;
    box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
    padding: 10px 23px;
    border-radius: 4px;
    line-height: 24px;
    color: #FFFFFF;
    
}
.nav li .white{
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    padding: 10px 23px;
    border-radius: 4px;
    line-height: 24px;
    
}
.banner{
    grid-template-columns: auto auto; 
    
}
.banner__text h1{
    width: 518px;
    font-family:reg;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left;
    color: #22343D;
    
}
.banner__text p{
    width: 458px;
    font-family:reg;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: #22343D;
    padding: 18px 0 45px 0;
}
.bttn{
    padding: 15px 41px;
    background-color: #02897A;
    color: white;
    font-family:bol;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    border-radius: 4px;
}
.video{
    font-family:sem;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    text-decoration-line: underline;
    color: #02897A;
    margin-left: 56px;
}
main h2{
    font-family:bol;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
    width: 539px;
    margin: 0 auto;
    
    
}
.product{
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    padding-top: 58px;
    background: linear-gradient(179.59deg, #EDEDED 0.35%, rgba(255, 255, 255, 0.0001) 99.63%);
    
}
.product li{
    width: 240px;
}
.product li div{
    border-radius: 19px;
}
.product li h4{
    font-family:sem;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: left;
    color: #22343D;   
    padding: 30px 0 13px 0; 
}
.product li p{
    color: #22343D;
    font-family:reg;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    
}
main{
    padding-bottom: 150px;
}

main .sign{
    padding: 15px 41px;
    background-color: #02897A;
    color: white;
    font-family:bol;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    border-radius: 4px;
    position: relative;
    top:60px;
    left: 490px;
}
.content{
    padding-top: 243px;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.content__text h3{
    font-family:bol;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
    color: #22343D;
    padding: 8px 0 23px 0;
    
}
.content__text span{
    font-family: sem;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #22343D;
    
}
.content__text p{
    width: 486px;
    font-family:reg;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    color: #22343D;
    padding: 12px 0 25px 0;
}
.sup{
    background-color: bisque;
}

.content__text ul li{
    width: 385px;
    font-family:reg;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    color: #22343D;
    padding: 15px 0 15px 0;
    
    
}
.content__text ul li div{
    padding-right: 30px;
}
.page{
    padding-bottom: 150px;
}

.GIRL{
    justify-content: space-around;
    margin-bottom: 24px;
}
.process{
    background: linear-gradient(179.59deg, #EDEDED 0.35%, rgba(255, 255, 255, 0.0001) 99.63%);
    
}
.process h4{
    font-family:bol;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
    color: #22343D;
    
}
.process p{
    font-family:med;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    color:#22343D ;
    width: 542px;
    margin: 0 auto;
    padding: 16px 0 32px 0;
}
.process button{
    font-family:bol;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align:center;
    color: #FFFFFF;
    padding: 15px 31px;
    position: relative;
    left: 420px;
    top: 24px;
    background-color: #02897A;
    border-radius: 4px;
}
.process button:hover{
    color: #02897A;
    background-color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid#02897A;
}
.strategies h4{
    font-family:bol;
    font-size: 34px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0px;
    text-align: left;
    color: #22343D;
}
.strategies>div{
    justify-content: space-between;
}
.strategies>p{
    font-family:med;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    color: #22343D;
    padding-top: 8px;
}   
.strategies__box{
    height: 359px;
    width: 348px;
    left: -0.5px;
    top: 0px;
    border-radius:8px;
    margin-top: 32px;
    border: 1px solid #DEDEDE;
}
.strategies__box div{
    padding-bottom: 24px;
}
.strategies__box span{
    font-family:reg;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: #22343D;
    padding-left: 24px;
}
.strategies__box p{
    font-family: bol;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    color: #22343D;
    width: 294px;
    padding-left: 24px;
}
.strategies__box p:hover {
    color: #02897A;
}
.bold{
    position: relative;
    left: 500px;
    top: 64px;
}
.price{
    margin-top: 150px;
    padding-bottom: 150px;
}
.price h5{
    font-family:bol;
    font-size: 34px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0px;
    text-align:center;
    color: #22343D;
    
}
.price>p{
    font-family:med;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: #22343D;
    padding: 8px 0 50px 0;
}
.price>div{
    justify-content: space-between;  
}
.cart{
    height: 456px;
    width: 322px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 8px 0px #00000040;
    justify-content: center;
    gap: 10 px;
}
.cart h6{
    font-family:bol;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    text-align:center;
    color: #22343D;
}
.cart p{
    font-family:reg;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
    color: #22343D;
}
.save{
    width: 154px;
    gap: 8px;
    margin: 0 auto;
    
}
.save div{
    flex-direction: column;
    align-items: flex-start;
}
.num {
    font-family:bol;
    font-size: 76px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #02897A;
    
}
.usd {
    font-family:reg;
    font-size: 24px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.1px;
    text-align: left;
    color: #02897A;
}
.mon {
    font-family:reg;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: #AFAFAF;
}
.cart button{
    padding: 11px 19px;
    font-family:sem;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    background-color: #02897A;
    border-radius: 8px;
    
}
.cart:hover{
    background-color: #02897A;
}
.cart:hover h6{
    color: #FFFFFF;
}
.cart:hover p{
    color: #FFFFFF;
}
.cart:hover .usd{
    color: #FFFFFF;
}
.cart:hover .num{
    color: #FFFFFF;
}
.cart:hover .num{
    color: #FFFFFF;
}
.cart:hover .num{
    color: #E0E0E0;
}
.cart:hover button{
    color: #02897A;
    background-color: #FFFFFF;
}
.client {
    padding-bottom: 150px;
}
.client h5{
    font-family:bol;
    font-size: 34px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #22343D;
    
}
.client>p{
    width: 537px;
    font-family:med;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #22343D;
    margin: 0 auto;
    padding: 8px 0 50px 0;
    
}
.client>div{
    justify-content: space-between;
}
.clients__box{   
    height: 236px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #DEDEDE;
    background-color: #FFFFFF;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-evenly;
    padding-left: 26px;
    gap: 16px;
}
.clients__box p{
    font-family:reg;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    width: 275px;
    color: #737373;
    
}
.clients__box__face {
    gap: 14px;
}
.boost {
    margin: 0 auto;
    height: 345px;
    width: 968px;
    border-radius: 32px;
    background-color: #02897A;
    justify-content:center;
}
.boost__text p{
    font-family:sem;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    width: 500px;
    padding-bottom: 45px;
    
}
.boost__text button{
    padding:13px 35px;
    background-color: white;
    border-radius: 8px;
    color: #02897A;
    font-family:sem;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    
}
.boost__img {
    height: 331px;
    width: 351px;
    border-radius: 5px;
    
}
.boost__img img{
    width: 100%;
}
footer section{
    
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}
input{
    padding: 10px 128px 10px 15px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    background-color: #FFFFFF;
}
form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}
.link__img{
    padding-bottom: 28px;
}
form button{
    padding: 8px 15px;
    font-family:bol;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    background-color: #02897A;
    color: #FFFFFF;
    
}
footer ul li a{
    font-family:reg;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0px;
    text-align: left;
    color:#22343D;
    
}
form p{
    font-family:med;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color: #22343D;
    width: 280px;
    
}
.end{
    
    font-family: reg;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align:center;
    color: #22343D;
    padding: 16px 0 46px 0;
}


.burger{
display: none;


}
.burger div{
    border: 1px solid #173A56;
    width: 21px;
  

}
.banner__img{
    width: 600px;
    height: 555px;
}
.banner__img img{
width: 100%;
}

@media (max-width:420px){
.container{
    padding:0 20px 0 20px ;
}
.burger{
    display:flex;
    flex-direction: column;
    gap: 8px;
}
.nav{
    display:none;
}
nav{
    justify-content: space-between;
}
.burger:active nav ul{
    display: block;
}




.banner{
 display: flex;
 flex-direction: column-reverse;

}
.banner__img{
    width: 338px;
    height: 310px;
}
.banner__text h1{
    font-family:bol;
    font-size: 36px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: center;
color: #22343D;
    
}
.banner__text p{

    font-size: 18px;
    line-height: 28px;
    text-align: center;
   padding: 0;
width: 326px;
margin: 0 auto;
}
.banner__text {

}

.bttn {

}
.video {
}
main{
    margin-top: 50px;
}
.product{
    grid-template-columns: auto;
    justify-content: center;
}
.product div{
    text-align: center;
}
.product h4{
    text-align: center;
}
.product p{
    text-align: center;
}
}